@(teams: List[pa.Team])

@main("Teams") {

    <h1>Teams</h1>

    <form action="/team/head2head" method="post">
        <h2>Team head to head</h2>

        @views.html.fragments.chooseTeam("team1", teams)
        vs
        @views.html.fragments.chooseTeam("team2", teams)

        <input type="submit" value="Generate" />
    </form>

    <form action="/team/images" method="post">
        <h2>Squad images</h2>

        @views.html.fragments.chooseTeam("team", teams)

        <input type="submit" value="Generate" />
    </form>
}
