/** Tables **/
.table {
    background: #f6f6f6;
    border-top: 2px solid #4bc6df;
    width: 100%;

    th {
        font-weight: bold;
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }

    tbody td {
        border-top: 1px solid #ececec;
        padding: 16px;
    }
}

.table-row--selected {
    background: #4bc6df;
    color: #fff;
}