@(league: pa.Season, tableEntries: List[pa.LeagueTableEntry])

@main(s"${league.name} table") {
    <h1>@league.name table</h1>

    <table data-embed-type="data" class="data data--embedded">
        <thead>
        <tr>
            <th>Position</th>
            <th>Team name</th>
            <th>Pld</th>
            <th>GD</th>
            <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        @for((tableEntry, index) <- tableEntries.zipWithIndex) {
        <tr>
            <td>@tableEntry.team.rank</td>
            <td>@tableEntry.team.name</td>
            <td>@tableEntry.team.total.played</td>
            <td>@tableEntry.team.goalDifference</td>
            <td>@tableEntry.team.points</td>
        </tr>
        }
        </tbody>
    </table>
}
