@()

@main("PA API browser") {

    <h1>PA browser</h1>

    <p>Copy queries from <a href="http://pads6.pa-sport.com/api/football/">the PA Football documentation</a> into the query box below.</p>

    <form action="/browser" method="POST" class="browser-form">
        <input type="text" class="query" name="query" />
        <div class="parameters">

        </div>
        <input type="submit" value="Perform API query" />
    </form>

    <h2>Drafts of stat cards</h2>
    <ul>
        <li><a href="/team/head2head">Team Head2Head</a></li>
    </ul>

    <h2>Some formatted examples</h2>
    <ul>
        <li>
            <form action="/fixtures">
                <h3>Fixtures</h3>
                <label for="fixtures_competitionId">Competition ID</label> <input type="text" name="competitionId" id="fixtures_competitionId" />
                <input type="submit" value="Go" />
            </form>
        </li>
        <li>
            <form action="/table">
                <h3>League tables</h3>
                <label for="table_competitionId">Competition ID</label> <input type="text" name="competitionId" id="table_competitionId" />
                <input type="submit" value="Go" />
            </form>
        </li>
    </ul>
}
