@(tableEntries: List[pa.LeagueTableEntry])

@main("Fixtures") {

    <h1>Table</h1>

    <table>
        <thead>
            <tr>
                <th>Team name</th>
                <th>Points</th>
                <th>Goal difference</th>
            </tr>
        </thead>
        <tbody>
            @for(tableEntry <- tableEntries) {
                <tr>
                    <td><a href="@tableEntry.team.id">@tableEntry.team.name</a></td>
                    <td>@tableEntry.team.points</td>
                    <td>@tableEntry.team.goalDifference</td>
                </tr>
            }
        </tbody>
    </table>
}
